
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow:auto;
   
}
html::-webkit-scrollbar {
    width: 0;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #C5D5E6;
    font-family: Verdana;
}
.help a{
    color: #FFFFFF;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transform-style: preserve-3d;
    
	perspective-origin:center;
}
.fon{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}
.rectangle{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(321.24deg, #4792E1 -91.81%, #4174B3 -31.53%, #363B5D 82.08%);
}
.header{
    width: 100%;
    height: 18%;
    padding: 5%;
}
.header__logo{
    position: absolute;
    width: 36px;
    height: 34px;
    left: 3%;
    top: 5%;  
}
.Language{
    position: absolute;
    width: 125px;
    height: 14px;
    left: 10%;
    top: 6%;
    color: #C5D5E6;
}
.ukr{
    position: absolute;
    width: 50px;
    height: 14px;
    left: 0px;
    top: 0px;
    
    font-family: Verdana;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.9625px;
    
    color: #C5D5E6;
}
.eng{
    position: absolute;
    width: 50px;
    height: 14px;
    left: 50px;
    top: 0px;
    
    font-family: Verdana;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.9625px;
    
    color: #C5D5E6;
}
.rus{
    position: absolute;
    width: 25px;
    height: 14px;
    right: 0px;
    top: 0px;
    
    font-family: Verdana;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.9625px;
    
    color: #C5D5E6;
}
.main__menu{
    position: absolute;
    width: 520px;
    height: 60px;
    left: 35%;
    top: 3%;
    background: #9c9c9c3f;
    border-radius: 8px; 
}
.menu1{
    position: absolute;
    width: 253px;
    height: 30px;
    left: 2%;
    top: 25%;
}
.projects{
    position: absolute;
    width: 80px;
    height: 30px;
    left: 0%;
    top: 3%;
    font-family: Verdana;
    color: #C5D5E6;
    font-size: 14px;
    line-height: 28px;
    background: transparent;
    border-radius: 5px;
    text-align: center;
    transition: all .3s;
    background: #00000079;
    mix-blend-mode: normal;
    border-radius: 5px;
}
.projects:hover{
    background: #00000079;
    mix-blend-mode: normal;
    border-radius: 5px;
}
.archive{
    position: absolute;
    width: 60px;
    height: 30px;
    left: 35.2%;
    top: 3%;

    font-family: Verdana;
    color: #C5D5E6;
    font-size: 14px;
    line-height: 28px;
    background: transparent;
    border-radius: 5px;
    text-align: center;
    transition: all .3s;
}
.archive:hover{
    background: #00000079;
    mix-blend-mode: normal;
    border-radius: 5px;
}
.contacts{
    position: absolute;
    width: 90px;
    height: 30px;
    left: 62.5%;
    top: 3%;
    
    font-family: Verdana;
    color: #C5D5E6;
    font-size: 14px;
    line-height: 28px;
    background: transparent;
    border-radius: 5px;
    text-align: center;
    transition: all .3s;
}
.contacts:hover{
    background: #00000079;
    mix-blend-mode: normal;
    border-radius: 5px;
}
.menu2{
    position: absolute;
    width: 190px;
    height: 42px;
    left: 52%;
    top:15%;
}
.help{
    position: absolute;
    width: 180px;
    height: 42px;
    left: 0%;
    top: 1%;
    
    font-family: Verdana;
    color: #C5D5E6;
    font-size: 14px;
    line-height: 42px;
    background: linear-gradient(270deg, #6082D7 -81.69%, #E73453 100%);
    border-radius: 5px;
    transition: all .3s;
    text-align: center;
}
.help:hover{
    mix-blend-mode: normal;
    border-radius: 5px;
}
.search3 button{
    position: absolute;
    width: 18px;
    height: 18px;
    right: 5%;
    top: 20px;
    
    background: none;
    border: none;
    cursor: pointer;
}
.log_in_or_register{
    position: absolute;
    width: 130.50px;
    height: 32px;
    right: 3%;
    top: 5%;
    
    font-family: Verdana;
    font-size: 16px;
    line-height: 32px;
    
    color: #C5D5E6;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}
.openBtn {
    border: none;
    cursor: pointer;
    background: none;
}
.opensearch{
    border: none;
    cursor: pointer;
    background: none;
}
.overlay2{
    width: 520px;
    height: 60px;
    left: 35%;
    top: 3%;
    display: none;
    position: fixed;
    z-index: 1;
  
    background: rgba(197, 213, 230, 0.5);
    backdrop-filter: blur(54.3656px);
    border-radius: 10px;
}
.overlay2 .closebtn2 {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 2px;
    top: 6px;
    cursor: pointer;
}
.closebtn2 img{
    width: 100%;
    height: 100%;
}
.overlay-content2{
    position: relative;
    top: 0;
    width: 460px;
    height: 100%;
}
.search4{
    position:relative;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
}
.search4 input[type="text"]{
    position: relative;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 0 15px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    background: none;

    font-family: Verdana;
    font-size: 16px;
    line-height: 30px;
    color: cornsilk; 
}
.centerline{
    position: absolute;
    width: 2px;
    height: 44px;
    left: 100%;
    top: 6px;
    
    background: #2E3F69;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.search5{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 5px;
    top: 12px;
    cursor: pointer;
}
.search5 img{
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    transform: rotate(90deg);
}
/* Активний пошук */
.search10{
    position: absolute;
    width: 520px;
    height: 60px;
    left: 30%;
    top: 3%;
    background: rgba(197, 213, 230, 0.5);
    backdrop-filter: blur(54.3656px);
    border-radius: 10px;
}
.search10 input[type="text"]{
    position: relative;
    width: 90%;
    height: 100%;
    padding: 0 15px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    background: none;

    font-family: Verdana;
    font-size: 16px;
    line-height: 30px;
    color: cornsilk; 
}
.search10 button{
    position: absolute;
    border: none;
    background: none;
    height: 50px;
    width: 50px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: rgba(61, 65, 114, 0.5);
    backdrop-filter: blur(54.3656px);
    border-radius: 50%;
}
.overlay3{
    display: none;
    position: fixed;
    z-index: 1;
    position: absolute;
    width: 95%;
    height: 70%;
    left: 2.5%;
    top: 5px;
    background: rgba(197, 213, 230, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.overlay3 .closebtn3 {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 4px;
    top: 4px;
    cursor: pointer;
}
.closebtn3 img{
    width: 100%;
    height: 100%;
}
.text3_1{
    position: absolute;
    width: 90%;
    height: 60px;
    top: 3%;
    padding-left: 20px;
    font-family: Verdana;
    font-size: 40px;
    line-height: 47px;
    
    color: #FFFFFF;
}
.overlay-content3{
    position: relative;
    top: 18%;
    width: 100%;
    height: 82%;
    background: rgba(197, 213, 230, 0.5);
    backdrop-filter: blur(0px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}
.group4{
    position: absolute;
    width: 75%;
    height: 80%;
    left: 3%;
    top: 5%;
}
.group5{
    position: absolute;
    width: 30%;
    height: 22%;
    right: 0;
    top: 0;
}
.group5_text1{
    position: absolute;
    width: 52px;
    height: 18px;
    left: 1px;
    top: 1px;
    
    font-family: Verdana;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #FFFFFF;
    
}
.group5_text2{
    position: absolute;
    width: 99%;
    height: 32px;
    left: 1px;
    bottom: 1px;
    
    letter-spacing: 1px;
    font-family: Verdana;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}
.group4_line{
    position: absolute;
    width: 100%;
    height: 1px;
    right: 0;
    top: 60%;
    
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.group6{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
}
.group6_text1{
    position: absolute;
    width: 300px;
    height: 60px;
    right: 0;
    top: 15%;
    
    font-family: Verdana;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    
    letter-spacing: 1px;
}
.group6_line{
    position: absolute;
    width: 100%;
    height: 1px;
    right: 0;
    bottom: 0;
    
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.group6_text2{
    position: absolute;
    width: 300px;
    height: max-content;
    right: 0;
    top: 40%;
    
    letter-spacing: 1px;
    font-family: Verdana;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.group6_text3{
    position: absolute;
    width: max-content;
    height: 28px;
    left: 0;
    top: 10%;
    
    letter-spacing: 1px;
    font-family: Verdana;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.group6_text4{
    position: absolute;
    width: 40px;
    height: max-content;
    right: 260px;
    top: 0px;
    
    letter-spacing: 1px;
    font-family: Verdana;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.group6_text5{
    position: absolute;
    width: 300px;
    height: 32px;
    right: 0;
    bottom: 0;
    
    letter-spacing: 1px;
    font-family: Verdana;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.group6_text6{
    position: absolute;
    width: 40px;
    height: max-content;
    right: 260px;
    bottom: 18%;
    
    letter-spacing: 1px;
    font-family: Verdana;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.group6_text7{
    position: absolute;
    width: 69px;
    height: 24px;
    left: 0;
    bottom: 10%;
    
    font-family: Verdana;
    font-size: 24px;
    line-height: 28px;
    
    letter-spacing: 1px;
    color: #FFFFFF;
}
/* Проекти меню */
.mainMenu{
    position: absolute;
    top: 20%;
    left: 45%;
    width: 190px;
    height: 75px;
}
.mainMenu a{
    position: absolute;
    left: 0;
    top: 0;
    font-family: Verdana;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}
.mainMenu .tw_four{
    position: absolute;
    right: 0;
    top:50%;
    height: 100%;
    text-align-last: justify;
    font-family: Verdana;
    font-size: 18px;
    line-height: 21px;
    color: #E63554;
}

/* Фільтр */
.types_of{
    position: absolute;
    width: 150px;
    height: 20px;
    right: 3%;
    top: 20%;
}
.types_of_text{
    position: absolute;
    width: 150px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: Verdana;
    font-size: 16px;
    line-height: 16px;
    color: #C5D5E6;
}
.types_of_button{
    position: absolute;
    width: 18px;
    height: 18px;
    right: 0;
    top: 0px;
    cursor: pointer;
    transition: .3s;
}
.types_of_button:hover{
    transition: .3s;
    transform: rotate(90deg);
}
.filter{
    position: absolute;
    width: 200px;
    height: 220px;
    right: 2%;
    top: 25%;
    z-index: 3;
    background: rgba(148, 193, 240, 0.5);
    backdrop-filter: blur(13.5914px);
    border-radius: 10px;
}
.line1{
    position: absolute;
    width: 100%;
    height: 1px;
    top: 41px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.2;
}
.line2{
    position: absolute;
    width: 100%;
    height: 1px;
    top: 82px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.2;
}
.line3{
    position: absolute;
    width: 100%;
    height: 1px;
    top: 123px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.2;
}
.line4{
    position: absolute;
    width: 100%;
    height: 1px;
    top: 164px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.2;
}
.ok{
    position: absolute;
    width: 130px;
    height: 30px;
    bottom: 13px;
    text-align-last: center;
    font-family: Verdana;
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 35px;
    text-align-last: center;
    background: #000000;
    opacity: 0.5;
    border-radius: 4.7px;
}
.container {
    font-family: Verdana;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    width: 100%;
    height: 41px;
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-top: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;

    top: 10px;
    right: 10px;
    opacity: 0.5;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background: #FFFFFF;
    mix-blend-mode: normal;
    transition: .3s;
}
.container input:checked ~ .checkmark {
    background: linear-gradient(46.62deg, #E53656 21.87%, #6082D8 124.73%);

}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    width: 15px;
    height: 15px;

   border-radius: 50%;
   background: linear-gradient(46.62deg, #E53656 21.87%, #6082D8 124.73%);
}
.chat{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 95%;
    top: 90%;
    padding-top: 12px;
    padding-left: 7px;
    background: #9D5E9B;
    box-shadow: 0px 2px 16px #9D5E9B, 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
/* Контент */
.content{
    top: 32%;
    left: 10%;
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: yellowgreen;
    
    overflow: auto;
    
}
.string1{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgb(50, 50, 205);
}
.string2{
    position: absolute;
    top: 30%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgb(205, 50, 148);
}
.string3{
    position: absolute;
    top: 50%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgb(73, 205, 50);
}
.string4{
    position: absolute;
    top: 70%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgb(255, 251, 0);
}
.string5{
    position: absolute;
    top: 90%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgb(50, 205, 161);
}




